# Copy to .env and fill with real values. Do not commit .env.

CR_PAT=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GHCR_USER=its-ghaith
GHCR_SERVER=ghcr.io
GHCR_IMAGE=ghcr.io/its-ghaith/slurm-scheduler-ml/mlops-slurm-runtime:latest
